Repository forus-labs/cauldron: changes, and which Codecov flags are due for each by the changed paths.
All: flint, out_of_context, mock_of_context, sugar

Auto stash before merge of "master" and "origin/master"
  jeeves/lib/src/commands/load.dart
  jeeves/lib/src/parser.dart
  jeeves/test.dart
  jeeves/tool/jeeves/jeeves.yaml
Due: none

Fix issues
  jeeves/lib/jeeves.dart
  jeeves/lib/src/commands/load.dart
  jeeves/lib/src/parser.dart
Due: none

whoops
  jeeves/lib/src/commands/load.dart
Due: none

Add `Disposable` type
  sugar/CHANGELOG.md
  sugar/README.md
  sugar/lib/core.dart
  sugar/lib/src/core/annotations.dart
  sugar/lib/src/core/cryptography.dart
  sugar/lib/src/core/disposable.dart
Due: sugar

Bump version
  sugar/pubspec.yaml
Due: none

Add methods for conversion between integers and booleans
  sugar/CHANGELOG.md
  sugar/lib/src/core/math.dart
  sugar/lib/src/time/weekdays.dart
  sugar/test/src/core/math_test.dart
  sugar/test/src/time/weekdays_test.dart
Due: sugar

Add unparse()
  sugar/CHANGELOG.md
  sugar/lib/src/time/weekdays.dart
  sugar/test/src/time/weekdays_test.dart
Due: sugar

Whoops
  sugar/pubspec.yaml
Due: none

Add Flint support for Dart 2.15
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
  flint/tool/update.dart
Due: flint

WIP
  flint/analysis_options.yaml
  flint/tool/update.dart
  jeeves/README.md
  jeeves/analysis_options.yaml
  jeeves/bin/jeeves.dart
  jeeves/lib/jeeves.dart
  jeeves/lib/src/commands/assets/assets_command.dart
  jeeves/lib/src/commands/assets/icon_generation.dart
  jeeves/lib/src/commands/environments/load_command.dart
  jeeves/lib/src/commands/environments/parser.dart
  jeeves/lib/src/core/branch_command.dart
  jeeves/lib/src/core/configuration.dart
  jeeves/lib/src/core/format.dart
  jeeves/lib/src/core/generation.dart
  jeeves/lib/src/core/terminal.dart
  jeeves/lib/src/terminal.dart
  jeeves/pubspec.yaml
  jeeves/test.dart
  jeeves/tool/jeeves/envs/debug/tired.dart
Due: none

Auto stash before merge of "master" and "origin/master"
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
Due: flint

Prepare for Flint 2.2.1
  flint/CHANGELOG.md
  flint/pubspec.yaml
Due: none

prepare for release
  flint/CHANGELOG.md
  flint/README.md
  flint/lib/analysis_options.dart.yaml
  flint/lib/analysis_options.flutter.yaml
  flint/pubspec.yaml
Due: flint

Remove redundant scripts and references to out_of_context
  .github/workflows/flint.yml
  .github/workflows/mock_of_context.yml
  .github/workflows/out_of_context.yml
  .github/workflows/sugar.yml
  README.md
Due: none

Remove rule
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/lib/analysis_options.flutter.yaml
Due: flint

Remove `use_key_in_widget_constructors`
  flint/pubspec.yaml
Due: none

Readd missing lint
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
Due: flint

Deprecate and remove Jeeves
  jeeves/CHANGELOG.md
  jeeves/LICENSE
  jeeves/README.md
  jeeves/analysis_options.yaml
  jeeves/bin/jeeves.dart
  jeeves/lib/jeeves.dart
  jeeves/lib/src/commands/assets/assets_command.dart
  jeeves/lib/src/commands/assets/icon_generation.dart
  jeeves/lib/src/commands/environments/load_command.dart
  jeeves/lib/src/commands/environments/parser.dart
  jeeves/lib/src/core/branch_command.dart
  jeeves/lib/src/core/configuration.dart
  jeeves/lib/src/core/format.dart
  jeeves/lib/src/core/generation.dart
  jeeves/lib/src/core/terminal.dart
  jeeves/pubspec.yaml
  jeeves/test.dart
  jeeves/tool/jeeves/envs/debug/tired.dart
  jeeves/tool/jeeves/jeeves.yaml
Due: none

.0.0: Release
  sugar/pubspec.yaml
Due: none

Release flint 2.4.0
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/lib/analysis_options.flutter.yaml
  flint/pubspec.yaml
  flint/tool/update.dart
Due: flint

Update README.md
  README.md
Due: none

Publish flint 2.5.0
  flint/CHANGELOG.md
  flint/example/pubspec.yaml
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
Due: flint

Add missing `depend_on_referenced_packages` rule
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/lib/analysis_options.flutter.yaml
Due: flint

Bump version
  flint/pubspec.yaml
Due: none

Remove `prefer_int_literals`
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
Due: flint

Configure renovate
  .github/renovate.json
  renovate.json
Due: none

Remove `invariant_booleans` in flint
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
Due: flint

Release patch
  sugar/CHANGELOG.md
  sugar/lib/src/core/equality.dart
  sugar/pubspec.yaml
Due: sugar

Prepare for 3.0.0
  sugar/README.md
  sugar/lib/collection.dart
  sugar/lib/core.dart
  sugar/lib/src/collection/equality.dart
  sugar/lib/src/collection/list.dart
  sugar/lib/src/collection/lists.dart
  sugar/lib/src/old/collection/equality.dart
  sugar/lib/src/old/collection/iterables.dart
  sugar/lib/src/old/collection/tuples.dart
  sugar/lib/src/old/core/annotations.dart
  sugar/lib/src/old/core/cryptography.dart
  sugar/lib/src/old/core/debounce.dart
  sugar/lib/src/old/core/disposable.dart
  sugar/lib/src/old/core/equality.dart
  sugar/lib/src/old/core/functions.dart
  sugar/lib/src/old/core/math.dart
  sugar/lib/src/old/core/relatable.dart
  sugar/lib/src/old/core/result.dart
  sugar/lib/src/old/core/strings.dart
  sugar/lib/src/old/core/types.dart
  sugar/lib/src/old/core/union.dart
  sugar/lib/src/old/time/date.dart
  sugar/lib/src/old/time/date_time.dart
  sugar/lib/src/old/time/date_times.dart
  sugar/lib/src/old/time/period.dart
  sugar/lib/src/old/time/roundable_date_time.dart
  sugar/lib/src/old/time/time.dart
  sugar/lib/src/old/time/time_units.dart
  sugar/lib/src/old/time/weekdays.dart
  sugar/lib/sugar.dart
  sugar/lib/time.dart
  sugar/pubspec.yaml
Due: sugar

Add SetEquality
  sugar/README.md
  sugar/lib/src/collection/equality.dart
  sugar/lib/src/collection/lists.dart
  sugar/lib/src/core/annotations.dart
  sugar/lib/src/old/core/annotations.dart
Due: sugar

.0.0: Auto stash before merge of "feature/3.0.0" and "origin/feature/3.0.0"
  sugar/README.md
  sugar/lib/src/collection/equality.dart
  sugar/lib/src/collection/lists.dart
Due: sugar

Implement collection equality
  sugar/lib/src/collection/equality.dart
  sugar/lib/src/core/annotations.dart
  sugar/lib/src/old/core/debounce.dart
Due: sugar

Add more collection extension methods
  sugar/lib/collection.dart
  sugar/lib/core.dart
  sugar/lib/src/collection/group.dart
  sugar/lib/src/collection/iterables.dart
  sugar/lib/src/collection/lists.dart
  sugar/lib/src/old/collection/equality.dart
  sugar/lib/src/old/collection/iterables.dart
  sugar/lib/src/old/core/equality.dart
  sugar/lib/sugar.dart
Due: sugar

Add tests for ascending
  sugar/lib/collection.dart
  sugar/lib/src/collection/order.dart
  sugar/test/src/collection/order_test.dart
Due: sugar

Add Map.merge(...)
  sugar/lib/src/collection/maps.dart
  sugar/pubspec.yaml
Due: sugar

Split preimages into preimage function and order
  sugar/lib/src/collection/group.dart
  sugar/lib/src/collection/iterables.dart
  sugar/lib/src/collection/order.dart
  sugar/lib/src/collection/preimage.dart
  sugar/lib/src/collection/proposed/apply.dart
Due: sugar

Path conditions:
  flint: (any of: flint/lib/) or (any of: flint/lib/, but not: **/flutter-tools)
  out_of_context: any of: out_of_context/lib/, but not: **/flutter-tools
  mock_of_context: any of: mock_of_context/lib/, but not: **/flutter-tools
  sugar: any of: sugar/lib/, but not: **/flutter-tools
