Repository forus-labs/cauldron: changes, and which Codecov flags are due for each by the changed paths.
All: flint, sugar

Add tests for nitrogen
  .github/workflows/nitrogen.yaml
  .github/workflows/stevia_runner_unit_test.yaml
  README.md
  nitrogen/CHANGELOG.md
  nitrogen/README.md
  nitrogen/analysis_options.yaml
  nitrogen/lib/nitrogen.dart
  nitrogen/lib/src/configuration.dart
  nitrogen/lib/src/configuration/assets.dart
  nitrogen/lib/src/configuration/configuration.dart
  nitrogen/lib/src/configuration/configuration_exception.dart
  nitrogen/lib/src/configuration/key.dart
  nitrogen/lib/src/generators/assets/standard_generator.dart
  nitrogen/lib/src/walker.dart
  nitrogen/pubspec.yaml
  nitrogen/test/src/configuration/assets_test.dart
  nitrogen/test/src/configuration/configuration_test.dart
  nitrogen/test/src/configuration/key_test.dart
  nitrogen/test/src/file_system_test.dart
  nitrogen/test/src/generators/assets/basic_generator_test.dart
  nitrogen/test/src/generators/assets/standard_generator_test.dart
  nitrogen/test/src/generators/assets/theme_generator_test.dart
  nitrogen/test/src/generators/extensions/flutter_extension_generator_test.dart
  nitrogen/test/src/generators/libraries_test.dart
  nitrogen/test/src/walker_test.dart
  nitrogen_flutter_svg/CHANGELOG.md
  nitrogen_flutter_svg/README.md
  nitrogen_flutter_svg/pubspec.yaml
  nitrogen_lottie/CHANGELOG.md
  nitrogen_lottie/README.md
  nitrogen_lottie/pubspec.yaml
  nitrogen_types/CHANGELOG.md
  nitrogen_types/README.md
  nitrogen_types/lib/src/assets.dart
  nitrogen_types/pubspec.yaml
Due: none

Fix failing nitrogen builds
  .github/workflows/nitrogen.yaml
  nitrogen_types/CHANGELOG.md
  nitrogen_types/pubspec.yaml
Due: none

Fix nitrogen dependency
  nitrogen_flutter_svg/CHANGELOG.md
  nitrogen_flutter_svg/pubspec.yaml
  nitrogen_lottie/CHANGELOG.md
  nitrogen_lottie/pubspec.yaml
Due: none

Fix github action
  .github/workflows/nitrogen.yaml
Due: none

Enable hardware acceleration for Android emulator & disable unused_result lint
  .github/workflows/stevia_integration_test.yaml
  stevia/analysis_options.yaml
  sugar/analysis_options.yaml
Due: none

Remove stevia_runner project
  stevia_runner/.gitignore
  stevia_runner/README.md
  stevia_runner/analysis_options.yaml
  stevia_runner/bin/main.dart
  stevia_runner/build.yaml
  stevia_runner/lib/src/ansi.dart
  stevia_runner/lib/src/assets/ast.dart
  stevia_runner/lib/src/assets/build.dart
  stevia_runner/lib/src/assets/elements.dart
  stevia_runner/lib/src/assets/icon/ast.dart
  stevia_runner/lib/src/assets/icon/build.dart
  stevia_runner/lib/src/assets/icon/generation.dart
  stevia_runner/lib/src/assets/icon/lints.dart
  stevia_runner/lib/src/assets/illustrations/ast.dart
  stevia_runner/lib/src/assets/illustrations/build.dart
  stevia_runner/lib/src/assets/illustrations/generation.dart
  stevia_runner/lib/src/assets/illustrations/lints.dart
  stevia_runner/lib/src/configurations.dart
  stevia_runner/lib/stevia_asset_generator.dart
  stevia_runner/pubspec.yaml
Due: none

Add nullable numbers
  nitrogen/README.md
  sugar/CHANGELOG.md
  sugar/lib/math.dart
  sugar/lib/src/math/nullable.dart
  sugar/test/src/math/nullable_test.dart
Due: sugar

Add NullableObjects
  sugar/lib/core.dart
  sugar/lib/math.dart
  sugar/lib/src/core/nullable.dart
  sugar/lib/src/math/nullable_numbers.dart
  sugar/test/src/core/nullable_test.dart
Due: sugar

Streamline nitrogen generator
  nitrogen/README.md
  nitrogen/lib/nitrogen.dart
  nitrogen/lib/nitrogen_extension.dart
  nitrogen/lib/src/configuration/assets.dart
  nitrogen/lib/src/configuration/configuration.dart
  nitrogen/lib/src/configuration/configuration_exception.dart
  nitrogen/lib/src/configuration/key.dart
  nitrogen/lib/src/generators/asset_generator.dart
  nitrogen/lib/src/generators/assets/standard_generator.dart
  nitrogen/lib/src/generators/extensions/flutter_extension_generator.dart
  nitrogen/lib/src/generators/theme_generator.dart
  nitrogen/lib/src/libraries.dart
  nitrogen/lib/src/lints/reserved_keyword_lint.dart
  nitrogen/lib/src/nitrogen_exception.dart
  nitrogen/pubspec.yaml
  nitrogen/test/src/configuration/assets_test.dart
  nitrogen/test/src/configuration/configuration_test.dart
  nitrogen/test/src/configuration/key_test.dart
  nitrogen/test/src/generators/asset_generator_test.dart
  nitrogen/test/src/generators/assets/standard_generator_test.dart
  nitrogen/test/src/generators/extensions/flutter_extension_generator_test.dart
  nitrogen/test/src/generators/theme_generator_test.dart
  nitrogen/test/src/libraries_test.dart
  nitrogen/test/src/lints/reserved_keyword_lint_test.dart
  nitrogen_types/lib/nitrogen_types.dart
  nitrogen_types/lib/src/image_asset_extension.dart
  nitrogen_types/pubspec.yaml
Due: none

Export extensions instead of generating them
  .github/workflows/nitrogen.yaml
  nitrogen/lib/nitrogen_extension.dart
  nitrogen/test/src/libraries_test.dart
  nitrogen_flutter_svg/CHANGELOG.md
  nitrogen_flutter_svg/lib/nitrogen_flutter_svg.dart
  nitrogen_flutter_svg/lib/src/svg_extension_generator.dart
  nitrogen_flutter_svg/pubspec.yaml
  nitrogen_lottie/CHANGELOG.md
  nitrogen_lottie/lib/nitrogen_lottie.dart
  nitrogen_lottie/lib/src/lottie_extension_generator.dart
  nitrogen_lottie/pubspec.yaml
  nitrogen_types/CHANGELOG.md
  nitrogen_types/pubspec.yaml
Due: none

Fix failing lint
  .github/workflows/nitrogen.yaml
  nitrogen/test/src/lints/reserved_keyword_lint_test.dart
  nitrogen_flutter_svg/lib/nitrogen_flutter_svg.dart
Due: none

Fix nitrogen github action
  .github/workflows/nitrogen.yaml
Due: none

Make locations of output files configurable
  nitrogen/CHANGELOG.md
  nitrogen/README.md
  nitrogen/build.yaml
  nitrogen/lib/nitrogen.dart
  nitrogen/lib/src/configuration/build_configuration.dart
  nitrogen/lib/src/configuration/configuration.dart
  nitrogen/lib/src/configuration/key.dart
  nitrogen/lib/src/generators/asset_generator.dart
  nitrogen/lib/src/generators/theme_generator.dart
  nitrogen/lib/src/lints/reserved_keyword_lint.dart
  nitrogen/lib/src/walker.dart
  nitrogen/pubspec.yaml
  nitrogen/test/src/configuration/build_configuration_test.dart
  nitrogen/test/src/configuration/configuration_test.dart
  nitrogen/test/src/configuration/key_test.dart
  nitrogen/test/src/file_system_test.dart
  nitrogen/test/src/generators/asset_generator_test.dart
  nitrogen/test/src/generators/theme_generator_test.dart
  nitrogen/test/src/libraries_test.dart
  nitrogen/test/src/lints/reserved_keyword_lint_test.dart
  nitrogen/test/src/walker_test.dart
Due: none

Add documentation generation for nitrogen
  nitrogen/CHANGELOG.md
  nitrogen/README.md
  nitrogen/build.yaml
  nitrogen/lib/nitrogen.dart
  nitrogen/lib/src/configuration/build_configuration.dart
  nitrogen/lib/src/configuration/configuration.dart
  nitrogen/lib/src/file_system.dart
  nitrogen/lib/src/generators/asset_generator.dart
  nitrogen/lib/src/generators/theme_generator.dart
  nitrogen/lib/src/walker.dart
  nitrogen/pubspec.yaml
  nitrogen/test/src/configuration/build_configuration_test.dart
  nitrogen/test/src/configuration/configuration_test.dart
  nitrogen/test/src/file_system_test.dart
  nitrogen/test/src/generators/asset_generator_test.dart
  nitrogen/test/src/generators/theme_generator_test.dart
  nitrogen/test/src/libraries_test.dart
  nitrogen/test/src/lints/reserved_keyword_lint_test.dart
  nitrogen/test/src/walker_test.dart
  nitrogen_flutter_svg/CHANGELOG.md
  nitrogen_flutter_svg/build.yaml
  nitrogen_flutter_svg/pubspec.yaml
  nitrogen_lottie/CHANGELOG.md
  nitrogen_lottie/build.yaml
  nitrogen_lottie/pubspec.yaml
  nitrogen_types/CHANGELOG.md
  nitrogen_types/lib/assets.dart
  nitrogen_types/lib/src/assets.dart
  nitrogen_types/pubspec.yaml
Due: none

Remove extremely flaky Android build
  .github/workflows/stevia_integration_test.yaml
Due: none

Try to fix failing integration test again
  .github/workflows/stevia_integration_test.yaml
Due: none

Update TZDB to 2025a
  CONTRIBUTING.md
  sugar/CHANGELOG.md
  sugar/README.md
  sugar/lib/src/collection/aggregate/aggregate_iterables.dart
  sugar/lib/src/collection/aggregate/group_iterables.dart
  sugar/lib/src/collection/aggregate/order_iterables.dart
  sugar/lib/src/collection/aggregate/split_iterables.dart
  sugar/lib/src/collection/algorithms.dart
  sugar/lib/src/collection/iterables.dart
  sugar/lib/src/collection/lists.dart
  sugar/lib/src/collection/maps.dart
  sugar/lib/src/collection/move.dart
  sugar/lib/src/collection/sets.dart
  sugar/lib/src/collection/splay_tree_maps.dart
  sugar/lib/src/time/zone/info/america.g.dart
  sugar/lib/src/time/zone/info/asia.g.dart
  sugar/test/src/collection/algorithms_test.dart
  sugar/test/src/collection/iterables_test.dart
  sugar/test/src/collection/lists_test.dart
  sugar/tool/timezone/zoneinfo/America/Asuncion
  sugar/tool/timezone/zoneinfo/Asia/Manila
Due: sugar

Fix failing tests
  .github/workflows/stevia_unit_test.yaml
  .github/workflows/sugar_integration_test.yaml
  .github/workflows/sugar_unit_test.yaml
  nitrogen/test/src/generators/asset_generator_test.dart
  nitrogen/test/src/generators/theme_generator_test.dart
  nitrogen/test/src/libraries_test.dart
  sugar/CHANGELOG.md
  sugar/lib/src/collection/algorithms.dart
  sugar/lib/src/time/zone/platform/posix_timezone.dart
Due: sugar

Fix failing tests
  .github/workflows/stevia_unit_test.yaml
  .github/workflows/sugar_integration_test.yaml
  .github/workflows/sugar_unit_test.yaml
Due: none

Fix failing build
  .gitignore
  pubspec.yaml
  stevia/example/pubspec.yaml
Due: none

Release flint 2.11
  flint/CHANGELOG.md
Due: none

Release 2.11.1
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
Due: flint

Fix failing build
  .github/workflows/flint.yaml
  .github/workflows/sugar_publish.yaml
Due: none

Release nitrogen 0.4.0
  nitrogen/CHANGELOG.md
  nitrogen/pubspec.yaml
  nitrogen_flutter_svg/CHANGELOG.md
  nitrogen_flutter_svg/pubspec.yaml
  nitrogen_lottie/CHANGELOG.md
  nitrogen_lottie/pubspec.yaml
  nitrogen_types/CHANGELOG.md
  nitrogen_types/pubspec.yaml
  pubspec.yaml
  stevia/pubspec.yaml
Due: none

where did all that code go?!
  sugar/integration_test/src/time/zone/platform/platform_provider_test.dart
  sugar/lib/src/time/date_time.dart
  sugar/lib/src/time/interop/date_time.dart
  sugar/lib/src/time/zone/dynamic_timezone.dart
  sugar/lib/src/time/zone/fixed_timezone.dart
  sugar/lib/src/time/zone/info/africa.g.dart
  sugar/lib/src/time/zone/info/america.g.dart
  sugar/lib/src/time/zone/info/antarctica.g.dart
  sugar/lib/src/time/zone/info/arctic.g.dart
  sugar/lib/src/time/zone/info/argentina.g.dart
  sugar/lib/src/time/zone/info/asia.g.dart
  sugar/lib/src/time/zone/info/atlantic.g.dart
  sugar/lib/src/time/zone/info/australia.g.dart
  sugar/lib/src/time/zone/info/brazil.g.dart
  sugar/lib/src/time/zone/info/canada.g.dart
  sugar/lib/src/time/zone/info/chile.g.dart
  sugar/lib/src/time/zone/info/etc.g.dart
  sugar/lib/src/time/zone/info/europe.g.dart
  sugar/lib/src/time/zone/info/indian.g.dart
  sugar/lib/src/time/zone/info/indiana.g.dart
  sugar/lib/src/time/zone/info/kentucky.g.dart
  sugar/lib/src/time/zone/info/mexico.g.dart
  sugar/lib/src/time/zone/info/north_dakota.g.dart
  sugar/lib/src/time/zone/info/pacific.g.dart
  sugar/lib/src/time/zone/info/root.g.dart
  sugar/lib/src/time/zone/info/us.g.dart
  sugar/lib/src/time/zone/timezone.dart
  sugar/lib/src/time/zone/timezone_provider.dart
  sugar/lib/src/time/zone/timezone_span.dart
  sugar/lib/src/time/zone/timezones.g.dart
  sugar/lib/src/time/zoned_date_time.dart
  sugar/lib/time_zone.dart
  sugar/pubspec.yaml
  sugar/test/src/time/interop/date_time_test.dart
  sugar/test/src/time/zone/dynamic_timezone_test.dart
  sugar/test/src/time/zone/fixed_timezone_test.dart
  sugar/test/src/time/zone/timezone_provider_test.dart
  sugar/test/src/time/zone/timezone_test.dart
  sugar/test/src/time/zoned_date_time_test.dart
Due: sugar

convert to microseconds
  sugar/lib/src/time/zone/providers/base_provider.dart
  sugar/lib/src/time/zone/providers/universal/universal_provider.dart
  sugar/lib/src/time/zone/timezone.dart
  sugar/test/src/time/zone/timezone_test.dart
Due: sugar

Prepare for Sugar 4.0.0
  sugar/lib/src/time/zone/timezone.dart
Due: sugar

refactor universal database
  sugar/integration_test/src/time/zone/platform/platform_provider_test.dart
  sugar/lib/src/time/zone/providers/universal/embedded_timezone.dart
  sugar/lib/src/time/zone/providers/universal/lazy_provider.dart
  sugar/lib/src/time/zone/providers/universal/tzdb.dart
  sugar/lib/src/time/zone/providers/universal/tzdb.g.dart
  sugar/lib/src/time/zone/providers/universal/universal_provider.dart
  sugar/lib/src/time/zone/timezone.dart
  sugar/lib/src/time/zoned_date_time.dart
  sugar/lib/time_zone.dart
  sugar/test/src/time/zone/dynamic_timezone_test.dart
  sugar/test/src/time/zone/fixed_timezone_test.dart
  sugar/test/src/time/zone/timezone_provider_test.dart
  sugar/test/src/time/zone/timezone_test.dart
  sugar/test/src/time/zone/universal_provider/java_provider/bindings.dart
  sugar/test/src/time/zone/universal_provider/java_provider/java_timezone_provider.dart
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
  sugar/tool/generate_timezones.dart
Due: sugar

Setup CI for Embeded Provider
  .github/workflows/sugar_unit_test.yaml
Due: none

add cache to provider
  sugar/lib/src/time/zone/providers/universal/timezone_provider.dart
Due: sugar

rename to embedded
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone.dart
  sugar/lib/src/time/zone/providers/embedded/timezone_provider.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.g.dart
  sugar/lib/time_zone.dart
  sugar/test/src/time/zone/timezone_provider_test.dart
  sugar/test/src/time/zone/universal_provider/java_provider/java_timezone_provider.dart
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
  sugar/tool/generate_timezones.dart
Due: sugar

remove maven
  .github/workflows/sugar_unit_test.yaml
Due: none

fix windows CI
  .github/workflows/sugar_integration_test.yaml
Due: none

limit test amount
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
Due: none

some more tests
  sugar/test/src/time/zone/known_timezones.dart
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
Due: none

add Factory
  sugar/lib/src/time/zone/providers/embedded/timezone_provider.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.dart
  sugar/test/src/time/zone/known_timezones.dart
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
Due: sugar

limit test temp
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
Due: none

Path conditions:
  flint: any of: flint/lib/, but not: **/flutter-tools, **/*.g.dart
  sugar: any of: sugar/lib/, but not: **/flutter-tools, **/*.g.dart
