Repository forus-labs/cauldron: changes, and which Codecov flags are due for each by the changed paths.
All: flint, sugar

Fix resizable not rebuilding sometimes when widget changes
  stevia/lib/src/widgets/resizable/resizable_box.dart
  stevia/lib/src/widgets/resizable/resizable_region.dart
Due: none

Rename resizable_box_region to resizable_region_box
  stevia/lib/src/widgets/resizable/resizable_box.dart
  stevia/lib/src/widgets/resizable/resizable_region_box.dart
  stevia/test/src/widgets/resizable/resizable_box_test.dart
  stevia/test/src/widgets/resizable/resizable_region_box_test.dart
Due: none

Remove sliders
  stevia/lib/src/widgets/resizable/resizable_box_model.dart
  stevia/lib/src/widgets/resizable/resizable_region_box.dart
  sugar/lib/src/core/annotations.dart
  sugar/lib/src/math/numbers.dart
Due: sugar

add haptic when maximizing or minimizing
  stevia/lib/src/widgets/resizable/resizable_box_model.dart
  stevia/lib/src/widgets/resizable/resizable_region_box.dart
  stevia/lib/src/widgets/resizable/slider.dart
Due: none

Add velocity
  stevia/lib/src/widgets/resizable/resizable_box.dart
  stevia/lib/src/widgets/resizable/resizable_box_model.dart
  stevia/lib/src/widgets/resizable/resizable_region_box.dart
  stevia/lib/src/widgets/resizable/slider.dart
  stevia/test/src/widgets/resizable/resizable_box_model_test.dart
  stevia/test/src/widgets/resizable/resizable_box_test.dart
  stevia/test/src/widgets/resizable/resizable_region_box_test.dart
  stevia/test/src/widgets/resizable/slider_test.dart
  stevia/test/src/widgets/resizable/slider_test.mocks.dart
Due: none

Add haptic feedback to `ResizableBox` (#22)
  stevia/lib/src/widgets/resizable/resizable_box.dart
  stevia/lib/src/widgets/resizable/resizable_box_model.dart
  stevia/lib/src/widgets/resizable/resizable_region.dart
  stevia/lib/src/widgets/resizable/resizable_region_box.dart
  stevia/lib/src/widgets/resizable/slider.dart
  stevia/test/src/widgets/resizable/resizable_box_model_test.dart
  stevia/test/src/widgets/resizable/resizable_box_region_test.dart
  stevia/test/src/widgets/resizable/resizable_box_test.dart
  stevia/test/src/widgets/resizable/resizable_region_box_test.dart
  stevia/test/src/widgets/resizable/slider_test.dart
  stevia/test/src/widgets/resizable/slider_test.mocks.dart
  sugar/lib/src/core/annotations.dart
  sugar/lib/src/math/numbers.dart
Due: sugar

Add onResizeUpdate
  stevia/lib/src/widgets/resizable/resizable_box.dart
  stevia/lib/src/widgets/resizable/resizable_box_model.dart
  stevia/test/src/widgets/resizable/resizable_box_model_test.dart
  stevia/test/src/widgets/resizable/resizable_region_box_test.dart
Due: none

Add TimerController
  stevia/example/lib/timer_example.dart
  stevia/lib/src/widgets/resizable/resizable_box_model.dart
  stevia/lib/src/widgets/resizable/resizable_region.dart
  stevia/lib/src/widgets/resizable/resizable_region_change_notifier.dart
  stevia/lib/src/widgets/timer/timer_controller.dart
  stevia/lib/widgets.dart
  stevia/pubspec.yaml
  stevia/test/src/widgets/async/future_value_builder_test.dart
  stevia/test/src/widgets/resizable/resizable_box_model_test.dart
  stevia/test/src/widgets/resizable/resizable_region_change_notifier_test.dart
  stevia/test/src/widgets/resizable/resizable_region_test.dart
  stevia/test/src/widgets/timer/timer_controller_test.dart
  sugar/lib/src/core/booleans.dart
Due: sugar

Update README.md
  README.md
Due: none

Lessen restrictions on timer
  stevia/lib/src/widgets/timer/timer_controller.dart
  stevia/test/src/widgets/timer/timer_controller_test.dart
Due: none

Release flint 2.8.0
  flint/CHANGELOG.md
  flint/README.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
  flint/tool/environment.dart
  flint/tool/update.dart
Due: flint

Remove terrible `unreachable_from_main` rule
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
Due: flint

Revamp async widgets
  stevia/lib/src/widgets/async/future_value_builder.dart
  stevia/lib/src/widgets/async/future_value_builder_base.dart
  stevia/lib/src/widgets/async/memoized_future_value_builder.dart
  stevia/lib/src/widgets/async/snapshot.dart
  stevia/lib/src/widgets/async/stream_value_builder.dart
  stevia/lib/widgets.dart
  stevia/test/src/widgets/async/async.dart
  stevia/test/src/widgets/async/future_value_builder_test.dart
  stevia/test/src/widgets/async/memomized_future_value_builder_test.dart
  stevia/test/src/widgets/async/snapshot_test.dart
  stevia/test/src/widgets/async/stream_value_builder_test.dart
  stevia/test/src/widgets/async/value_builders_test.dart
Due: none

Add ColorFilters
  stevia/example/lib/color_filters_example.dart
  stevia/example/lib/timer_example.dart
  stevia/lib/src/widgets/foundation/color_filters.dart
  stevia/lib/src/widgets/timer/timer_controller.dart
  stevia/lib/widgets.dart
  stevia/test/src/widgets/foundation/color_filters_test.dart
  stevia/test/src/widgets/timer/timer_controller_test.dart
Due: none

Fix example constraints
  flint/example/pubspec.yaml
  sugar/example/pubspec.yaml
Due: none

Add future barrier
  stevia/example/lib/future_barrier_example.dart
  stevia/lib/src/widgets/async/future_barrier.dart
  stevia/lib/src/widgets/async/future_value_builder.dart
  stevia/lib/widgets.dart
  stevia/test/src/widgets/async/async.dart
  stevia/test/src/widgets/async/future_barrier_test.dart
  stevia/test/src/widgets/async/future_value_builder_test.dart
  stevia/test/src/widgets/async/stream_value_builder_test.dart
  stevia/test/src/widgets/async/value_builders_test.dart
Due: none

Update future_barrier
  stevia/lib/src/widgets/async/future_barrier.dart
Due: none

Overhaul showFutureBarrier to become showFutureDialog
  stevia/example/lib/future_barrier_example.dart
  stevia/example/lib/future_dialog_example.dart
  stevia/lib/src/widgets/async/future_barrier.dart
  stevia/lib/src/widgets/async/future_dialog.dart
  stevia/lib/src/widgets/async/future_value_builder.dart
  stevia/lib/widgets.dart
  stevia/test/src/widgets/async/future_barrier_test.dart
  stevia/test/src/widgets/async/future_dialog_test.dart
Due: none

Rename `showFutureDialog` to `showAdaptiveFutureDialog`
  stevia/example/lib/future_dialog_example.dart
  stevia/lib/src/widgets/async/future_dialog.dart
  stevia/test/src/widgets/async/future_dialog_test.dart
Due: none

whoops
  stevia/example/lib/future_dialog_example.dart
  stevia/lib/src/widgets/async/future_dialog.dart
  stevia/lib/widgets.dart
  stevia/test/src/widgets/async/future_dialog_test.dart
Due: none

Add `FutureResultBuilder`
  stevia/example/lib/future_dialog_example.dart
  stevia/lib/src/widgets/async/dialog/future_value_dialog.dart
  stevia/lib/src/widgets/async/future_builder_base.dart
  stevia/lib/src/widgets/async/future_result_builder.dart
  stevia/lib/src/widgets/async/future_value_builder.dart
  stevia/lib/widgets.dart
  stevia/test/src/widgets/async/async.dart
  stevia/test/src/widgets/async/dialog/future_dialog_test.dart
  stevia/test/src/widgets/async/future_result_builder_test.dart
  stevia/test/src/widgets/async/value_builders_test.dart
Due: none

Add showFutureResultDialog
  stevia/example/lib/future_dialog_example.dart
  stevia/lib/src/widgets/async/dialog/future_result_dialog.dart
  stevia/lib/widgets.dart
  stevia/test/src/widgets/async/dialog/future_result_dialog_test.dart
  stevia/test/src/widgets/async/dialog/future_value_dialog_test.dart
Due: none

Fix FutureResultDialog navigating multiple time by accident
  stevia/lib/src/widgets/async/dialog/future_result_dialog.dart
Due: none

Fix `FutureValueBuilder` and `StreamValueBuilder` calling wrong builder when T is nullable
  stevia/lib/src/widgets/async/dialog/future_value_dialog.dart
  stevia/lib/src/widgets/async/future_value_builder.dart
  stevia/lib/src/widgets/async/stream_value_builder.dart
  stevia/test/src/widgets/async/future_value_builder_test.dart
  stevia/test/src/widgets/async/stream_value_builder_test.dart
Due: none

Fix navigation issue with FutureValueDialog
  stevia/lib/src/widgets/async/dialog/future_result_dialog.dart
  stevia/lib/src/widgets/async/dialog/future_value_dialog.dart
Due: none

WIP refactor dialogs
  stevia/lib/src/widgets/async/future/future_builder_base.dart
  stevia/lib/src/widgets/async/future/future_result_builder.dart
  stevia/lib/src/widgets/async/future/future_result_dialog.dart
  stevia/lib/src/widgets/async/future/future_value_builder.dart
  stevia/lib/src/widgets/async/future/future_value_dialog.dart
  stevia/lib/src/widgets/async/stream_value_builder.dart
  stevia/lib/widgets.dart
Due: none

Refactor future based builders
  stevia/lib/src/widgets/async/future/future_builder.dart
  stevia/lib/src/widgets/async/future/future_builder_base.dart
  stevia/lib/src/widgets/async/future/future_result_builder.dart
  stevia/lib/src/widgets/async/future/future_result_dialog.dart
  stevia/lib/src/widgets/async/future/future_value_builder.dart
  stevia/lib/src/widgets/async/future/future_value_dialog.dart
  stevia/lib/widgets.dart
Due: none

Add tests for future based dialogs
  stevia/.gitignore
  stevia/test/src/widgets/async/future/future_result_builder_test.dart
  stevia/test/src/widgets/async/future/future_result_dialog_test.dart
  stevia/test/src/widgets/async/future/future_value_builder_test.dart
  stevia/test/src/widgets/async/future/future_value_dialog_test.dart
Due: none

Add string comparisons
  sugar/CHANGELOG.md
  sugar/lib/core.dart
  sugar/lib/src/core/maybe.dart
  sugar/lib/src/core/strings.dart
  sugar/test/src/core/maybe_test.dart
Due: sugar

Add string comparison tests
  sugar/lib/src/core/strings.dart
  sugar/test/src/core/strings_test.dart
Due: sugar

Add SIL index
  sugar/dart_test.yaml
  sugar/lib/src/core/strings.dart
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sil_index.dart
  sugar/test/src/core/strings_test.dart
  sugar/test/src/crdt/sil_index_test.dart
Due: sugar

Add SIL
  sugar/lib/src/core/range/interval.dart
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sil_index.dart
  sugar/test/src/crdt/sil_index_test.dart
Due: sugar

Rethink string index
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sios.dart
  sugar/lib/src/crdt/string_index.dart
  sugar/test/src/crdt/string_index_test.dart
Due: sugar

WIP
  sugar/lib/collection.dart
  sugar/lib/crdt.dart
  sugar/lib/src/collection/splay_tree_maps.dart
  sugar/lib/src/crdt/sios.dart
  sugar/lib/src/crdt/string_index_set.dart
  sugar/lib/sugar.dart
Due: sugar

add
  sugar/lib/crdt.dart
  sugar/lib/src/crdt/string_index_set.dart
  sugar/lib/src/crdt/string_indexed_list.dart
  sugar/test/src/crdt/string_index_test.dart
Due: sugar

Remove failed experimental SIL implementation
  sugar/lib/crdt.dart
  sugar/lib/src/crdt/string_index.dart
  sugar/lib/src/crdt/string_indexed_list.dart
Due: sugar

Rename double.approximately to double.around
  sugar/CHANGELOG.md
  sugar/dartdoc_options.yaml
  sugar/lib/crdt.dart
  sugar/lib/src/collection/splay_tree_maps.dart
  sugar/lib/src/math/numbers.dart
  sugar/lib/src/time/zone/dynamic_timezone.dart
  sugar/test/src/collection/splay_tree_maps_test.dart
  sugar/test/src/core/range/interval_test.dart
  sugar/test/src/math/numbers_test.dart
Due: sugar

Revert codecov@4 to codecov@3
  .github/workflows/sugar_integration_test.yaml
  .github/workflows/sugar_publish.yaml
  .github/workflows/sugar_unit_test.yaml
Due: none

Add IntTextInputFormatter
  stevia/lib/src/widgets/foundation/text_input_formatters.dart
  stevia/lib/widgets.dart
  stevia/test/src/widgets/foundation/text_input_formatters_test.dart
Due: none

Tweak lint rules and reorganize stevia packages
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/lib/analysis_options.flutter.yaml
  stevia/analysis_options.yaml
  stevia/dartdoc_options.yaml
  stevia/lib/services.dart
  stevia/lib/services_haptic.dart
  stevia/lib/services_time.dart
  stevia/lib/src/services/color_filters.dart
  stevia/lib/src/services/haptic/haptic.dart
  stevia/lib/src/services/haptic/haptic_pattern.dart
  stevia/lib/src/services/haptic/platform_haptic.dart
  stevia/lib/src/services/text_input_formatters.dart
  stevia/lib/src/services/time/flutter_timezone_provider.dart
  stevia/lib/src/services/time/platform_timezone.dart
  stevia/lib/stevia.dart
  stevia/lib/widgets.dart
  stevia/test/src/services/color_filters_test.dart
  stevia/test/src/services/haptic/haptic_test.dart
  stevia/test/src/services/haptic/platform_haptic_test.dart
  stevia/test/src/services/text_input_formatters_test.dart
  stevia/test/src/services/time/platform_timezone_test.dart
  stevia/test/src/widgets/resizable/resizable_region_box_test.dart
  stevia/test/src/widgets/resizable/slider_test.dart
  sugar/analysis_options.yaml
Due: flint

Path conditions:
  flint: any of: flint/lib/, but not: **/flutter-tools, **/*.g.dart
  sugar: any of: sugar/lib/, but not: **/flutter-tools, **/*.g.dart
