Repository forus-labs/cauldron: changes, and which Codecov flags are due for each by the changed paths.
All: flint, out_of_context, mock_of_context, sugar

codecov.yaml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      flint:
        flags: flint

flags:
  # filter the folder(s) you wish to measure by that flag
  flint:
    paths:
      - flint/lib/

codecov.yml:

coverage:
  range: 80..100
  status:
    project:
      default: off
      flint:
        flags: flint
      out_of_context:
        flags: out_of_context
      mock_of_context:
        flags: mock_of_context
      sugar:
        flags: sugar

ignore:
  - "**/flutter-tools"

flags:
  # filter the folder(s) you wish to measure by that flag
  flint:
    paths:
      - flint/lib/
  out_of_context:
    paths:
      - out_of_context/lib/
  mock_of_context:
    paths:
      - mock_of_context/lib/
  sugar:
    paths:
      - sugar/lib/

Fix merge errors
  sugar/lib/src/core/result.dart
Due: sugar

Add
  sugar/CHANGELOG.md
  sugar/lib/collection.dart
  sugar/lib/core.dart
  sugar/lib/sugar.dart
  sugar/lib/time.dart
Due: sugar

Changes
  mock_of_context/analysis_options.yaml
  mock_of_context/lib/mock_of_context.dart
  mock_of_context/pubspec.yaml
  out_of_context/CHANGELOG.md
  out_of_context/analysis_options.yaml
  out_of_context/lib/out_of_context.dart
  out_of_context/lib/src/dispatcher.dart
  out_of_context/lib/src/keyed.dart
  out_of_context/lib/src/navigation.dart
  out_of_context/lib/src/scaffolding.dart
  out_of_context/pubspec.yaml
  out_of_context/test/dispatcher_test.dart
  out_of_context/test/keyed_test.dart
  out_of_context/test/keyed_test.mocks.dart
  out_of_context/test/navigation_test.dart
  out_of_context/test/scaffolding_test.dart
  out_of_context/test/scaffolding_test.mocks.dart
  sugar/lib/src/core/relatable.dart
  sugar/test/src/core/strings_test.dart
Due: out_of_context, mock_of_context, sugar

add changes
  mock_of_context/CHANGELOG.md
  mock_of_context/example/pubspec.yaml
  mock_of_context/lib/src/mock_mixins.dart
  mock_of_context/lib/src/mock_mixins.mocks.dart
  mock_of_context/pubspec.yaml
  mock_of_context/test/mock_mixins_test.dart
  out_of_context/CHANGELOG.md
  out_of_context/README.md
  out_of_context/example/pubspec.yaml
  sugar/README.md
Due: mock_of_context

add changelog
  mock_of_context/CHANGELOG.md
Due: none

Test Sugar CI
  .github/workflows/sugar.yml
  .gitignore
  README.md
  sugar/pubspec.yaml
Due: none

Fix coverage
  .github/workflows/sugar.yml
Due: none

Add missing coverage package
  .github/workflows/sugar.yml
Due: none

remove sudo
  .github/workflows/sugar.yml
Due: none

Add update
  .github/workflows/sugar.yml
Due: none

Add missing flag
  .github/workflows/sugar.yml
Due: none

fix relative paths
  .github/workflows/sugar.yml
Due: none

fix path
  .github/workflows/sugar.yml
Due: none

use relativePath
  .github/workflows/sugar.yml
Due: none

lame
  .github/workflows/sugar.yml
Due: none

fix out_of_context
  .github/workflows/out_of_context.yml
Due: none

fix
  .github/workflows/mock_of_context.yml
  .github/workflows/out_of_context.yml
Due: none

fix folder
  .github/workflows/sugar.yml
Due: none

fix analyzer
  mock_of_context/analysis_options.yaml
Due: none

change dependencies
  sugar/CHANGELOG.md
  sugar/pubspec.yaml
Due: none

Prepare for sugar 2.1.0
  sugar/CHANGELOG.md
  sugar/README.md
  sugar/lib/core.dart
  sugar/lib/src/core/annotations.dart
  sugar/lib/src/core/crypto.dart
  sugar/lib/src/core/result.dart
  sugar/pubspec.yaml
  sugar/test/src/core/result_test.dart
Due: sugar

fix failing test
  sugar/test/src/core/result_test.dart
Due: none

Prepare for release
  sugar/CHANGELOG.md
  sugar/lib/src/collection/lists.dart
  sugar/pubspec.yaml
  sugar/test/src/collection/lists_test.dart
Due: sugar

Add debounce
  sugar/CHANGELOG.md
  sugar/README.md
  sugar/lib/core.dart
  sugar/lib/src/core/debounce.dart
  sugar/pubspec.yaml
  sugar/test/src/core/debounce_test.dart
Due: sugar

add dockyard
  .github/.github.iml
  flint/flint.iml
  mock_of_context/mock_of_context.iml
  out_of_context/out_of_context.iml
  sugar/sugar.iml
Due: none

add dockyard
  .gitignore
  dockyard/.gitignore
  dockyard/CHANGELOG.md
  dockyard/analysis_options.yaml
  dockyard/example/dockyard_example.dart
  dockyard/lib/dockyard.dart
  dockyard/lib/src/dockyard.dart
  dockyard/pubspec.yaml
  dockyard/test/dockyard_test.dart
Due: none

Update flint
  dockyard/.gitignore
  dockyard/CHANGELOG.md
  dockyard/analysis_options.yaml
  dockyard/example/dockyard_example.dart
  dockyard/lib/dockyard.dart
  dockyard/lib/src/dockyard.dart
  dockyard/pubspec.yaml
  dockyard/test/dockyard_test.dart
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
Due: flint

Add composing functions
  sugar/README.md
  sugar/lib/src/core/functions.dart
  sugar/lib/src/core/math.dart
Due: sugar

add more composers
  sugar/lib/core.dart
  sugar/lib/src/core/functions.dart
Due: sugar

Prepare for flint 2.1.0 release
  flint/.pubignore
  flint/CHANGELOG.md
  flint/README.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
  flint/tool/update.dart
  mock_of_context/pubspec.yaml
  out_of_context/pubspec.yaml
Due: flint

Update sugar to 2.3.0
  flint/CHANGELOG.md
  flint/example/pubspec.yaml
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
  out_of_context/pubspec.yaml
  sugar/CHANGELOG.md
  sugar/README.md
  sugar/lib/src/collection/lists.dart
  sugar/lib/src/collection/tuples.dart
  sugar/lib/src/core/annotations.dart
  sugar/lib/src/core/equality.dart
  sugar/lib/src/core/functions.dart
  sugar/lib/src/core/math.dart
  sugar/lib/src/time/period.dart
  sugar/pubspec.yaml
  sugar/test/src/collection/equality_test.dart
  sugar/test/src/collection/iterables_test.dart
  sugar/test/src/collection/lists_test.dart
  sugar/test/src/collection/tuples_test.dart
  sugar/test/src/core/debounce_test.dart
  sugar/test/src/core/equality_test.dart
  sugar/test/src/core/functions_test.dart
  sugar/test/src/core/math_test.dart
  sugar/test/src/core/relatable_test.dart
  sugar/test/src/core/result_test.dart
  sugar/test/src/core/strings_test.dart
  sugar/test/src/core/types_test.dart
  sugar/test/src/core/union_test.dart
  sugar/test/src/time/date_test.dart
  sugar/test/src/time/date_time_test.dart
  sugar/test/src/time/date_times_test.dart
  sugar/test/src/time/period_test.dart
  sugar/test/src/time/roundable_date_time_test.dart
  sugar/test/src/time/time_test.dart
  sugar/test/src/time/time_units_test.dart
  sugar/test/src/time/weekdays_test.dart
Due: flint, sugar

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Make environment management great again
  jeeves/CHANGELOG.md
  jeeves/LICENSE
  jeeves/README.md
  jeeves/analysis_options.yaml
  jeeves/bin/jeeves.dart
  jeeves/lib/jeeves.dart
  jeeves/pubspec.yaml
  mock_of_context/CHANGELOG.md
  mock_of_context/README.md
  mock_of_context/analysis_options.yaml
  mock_of_context/example/README.md
  mock_of_context/example/pubspec.yaml
  mock_of_context/lib/mock_of_context.dart
  mock_of_context/lib/src/mock_mixins.dart
  mock_of_context/lib/src/mock_mixins.mocks.dart
  mock_of_context/pubspec.yaml
  mock_of_context/test/mock_mixins_test.dart
  out_of_context/CHANGELOG.md
  out_of_context/LICENSE
  out_of_context/README.md
  out_of_context/analysis_options.yaml
  out_of_context/example/README.md
  out_of_context/example/pubspec.yaml
  out_of_context/lib/out_of_context.dart
  out_of_context/lib/src/keyed.dart
  out_of_context/lib/src/navigation.dart
  out_of_context/lib/src/scaffolding.dart
  out_of_context/pubspec.yaml
  out_of_context/test/keyed_test.dart
  out_of_context/test/keyed_test.mocks.dart
  out_of_context/test/navigation_test.dart
  out_of_context/test/scaffolding_test.dart
  out_of_context/test/scaffolding_test.mocks.dart
Due: out_of_context, mock_of_context

Let's go
  jeeves/bin/jeeves.dart
  jeeves/lib/jeeves.dart
  jeeves/lib/src/commands/load.dart
  jeeves/lib/src/files.dart
  jeeves/lib/src/formatting.dart
  jeeves/pubspec.yaml
  jeeves/tool/jeeves/bindings.yaml
Due: none

POC
  jeeves/lib/src/commands/load.dart
  jeeves/lib/src/files.dart
  jeeves/lib/src/formatting.dart
  jeeves/test.dart
  jeeves/tool/jeeves/bindings.yaml
  jeeves/tool/jeeves/environments/debug/a.dart
  jeeves/tool/jeeves/environments/production/a.dart
Due: none

WIP
  jeeves/bin/jeeves.dart
  jeeves/lib/jeeves.dart
  jeeves/lib/old/files.dart
  jeeves/lib/old/load.dart
  jeeves/lib/src/files.dart
  jeeves/lib/src/formatting.dart
  jeeves/lib/src/parser.dart
  jeeves/lib/src/terminal.dart
  jeeves/pubspec.yaml
  jeeves/tool/jeeves/bindings.yaml
  jeeves/tool/jeeves/environments/debug/a.dart
  jeeves/tool/jeeves/environments/production/a.dart
Due: none

POC 2
  jeeves/bin/jeeves.dart
  jeeves/lib/old/files.dart
  jeeves/lib/old/load.dart
  jeeves/lib/src/commands/load.dart
  jeeves/lib/src/files.dart
  jeeves/lib/src/parser.dart
  jeeves/lib/src/terminal.dart
  jeeves/test.dart
  jeeves/tool/jeeves/envs/debug/tired.dart
  jeeves/tool/jeeves/jeeves.yaml
Due: none
