Repository forus-labs/cauldron: changes, and which Codecov flags are due for each by the changed paths.
All: flint, sugar

ignore unused exclude
  .github/workflows/sugar_unit_test.yaml
Due: none

remove commented code temp
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
Due: none

reenable full testing
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
Due: none

optimize cache for aliased timezones
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone.dart
  sugar/lib/src/time/zone/providers/embedded/timezone_provider.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.dart
  sugar/test/src/time/zone/universal_provider/universal_provider_test.dart
Due: sugar

Fix changelog
  flint/CHANGELOG.md
  flint/pubspec.yaml
Due: none

fix windows integration testing
  .github/workflows/sugar_integration_test.yaml
Due: none

add timezone abbr to offset
  sugar/lib/src/time/offset.dart
  sugar/lib/src/time/offsets.dart
  sugar/test/src/time/offset_test.dart
Due: sugar

convert func takes datetime parts instead of millis from epch
  sugar/lib/src/time/zone/factory_timezone.dart
  sugar/lib/src/time/zone/timezone.dart
  sugar/lib/src/time/zone/timezone_span.dart
  sugar/lib/src/time/zoned_date_time.dart
Due: sugar

add toString and correct final/initial for span
  sugar/lib/src/time/zone/timezone_span.dart
Due: sugar

replace default provider with embedded provider
  sugar/lib/src/time/zone/dynamic_timezone.dart
  sugar/lib/src/time/zone/fixed_timezone.dart
  sugar/lib/src/time/zone/providers/base_provider.dart
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone.dart
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone_provider.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.g.dart
  sugar/lib/src/time/zone/timezone.dart
  sugar/lib/src/time/zone/timezone_provider.dart
  sugar/lib/time_zone.dart
Due: sugar

update tests
  sugar/integration_test/src/time/zone/platform/platform_provider_test.dart
  sugar/test/src/time/zone/dynamic_timezone_test.dart
  sugar/test/src/time/zone/fixed_timezone_test.dart
  sugar/test/src/time/zone/timezone_provider_test.dart
  sugar/test/src/time/zone/timezone_test.dart
Due: none

add packages to pubspec
  sugar/pubspec.yaml
Due: none

add timezone generation tool
  sugar/tool/generate_timezones.dart
Due: none

replace default provider with embedded
  sugar/lib/src/time/zone/factory_timezone.dart
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone.dart
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone_span.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.g.dart
  sugar/lib/src/time/zone/timezone_span.dart
Due: sugar

add java testing
  sugar/test/src/time/zone/providers/embedded/embedded_provider_test.dart
  sugar/test/src/time/zone/providers/embedded/java_provider/bindings.dart
  sugar/test/src/time/zone/providers/embedded/java_provider/java_timezone_provider.dart
  sugar/test/src/time/zone/providers/known_timezones.dart
  sugar/tool/tzupdater.jar
Due: none

fix dst bug, add dst and abbr to java provider
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone.dart
  sugar/test/src/time/zone/providers/embedded/embedded_provider_test.dart
  sugar/test/src/time/zone/providers/embedded/java_provider/bindings.dart
  sugar/test/src/time/zone/providers/embedded/java_provider/java_timezone_provider.dart
Due: sugar

Add CI
  .github/workflows/sugar_unit_test.yaml
  sugar/lib/src/time/zone/providers/embedded/tzdb.g.dart
  sugar/tool/generate_timezones.dart
Due: none

ignore unsued
  .github/workflows/sugar_unit_test.yaml
Due: none

remove unused func
  sugar/lib/src/time/zone/providers/embedded/tzdb.dart
Due: sugar

rename DSTRules
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone.dart
  sugar/lib/src/time/zone/providers/embedded/tzdb.dart
Due: sugar

nits
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone.dart
Due: sugar

remove base provider
  sugar/lib/src/time/zone/providers/base_provider.dart
  sugar/lib/src/time/zone/providers/embedded/embedded_timezone_provider.dart
Due: sugar

Prepare for Flint 2.13.0
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/lib/analysis_options.flutter.yaml
  flint/pubspec.yaml
  flint/tool/update.dart
Due: flint

Fix warnings
  stevia/lib/src/widgets/async/stream_value_builder.dart
  stevia/test/src/widgets/async/value_builders_test.dart
  stevia/test/src/widgets/resizable/resizable_region_test.dart
  sugar/lib/src/time/offsets.dart
  sugar/lib/src/time/zone/timezone.dart
  sugar/test/src/time/zone/fixed_timezone_test.dart
  sugar/test/src/time/zone/timezone_test.dart
Due: sugar

fix even more warnings
  sugar/test/src/time/zone/providers/embedded/java_provider/bindings.dart
  sugar/test/src/time/zone/providers/embedded/java_provider/java_timezone_provider.dart
Due: none

Ops
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/lib/analysis_options.flutter.yaml
  flint/pubspec.yaml
  flint/tool/sort.dart
Due: flint

Prepare for Flint 2.14.0
  flint/CHANGELOG.md
  flint/example/pubspec.yaml
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
  nitrogen/CHANGELOG.md
  nitrogen/pubspec.yaml
  stevia/lib/src/widgets/async/future/future_builder.dart
  stevia/test/src/services/haptic/platform_haptic_test.dart
  stevia/test/src/services/time/platform_timezone_test.dart
  sugar/analysis_options.yaml
  sugar/example/pubspec.yaml
  sugar/pubspec.yaml
Due: flint

Fix GH actions
  .github/workflows/nitrogen_flutter_svg_presubmit.yaml
  .github/workflows/nitrogen_flutter_svg_presubmit_commit.yaml
  .github/workflows/nitrogen_flutter_svg_presubmit_format.yaml
  .github/workflows/nitrogen_lottie_presubmit.yaml
  .github/workflows/nitrogen_lottie_presubmit_commit.yaml
  .github/workflows/nitrogen_lottie_presubmit_format.yaml
  .github/workflows/nitrogen_presubmit.yaml
  .github/workflows/nitrogen_presubmit_commit.yaml
  .github/workflows/nitrogen_presubmit_format.yaml
  .github/workflows/nitrogen_types_presubmit.yaml
  .github/workflows/nitrogen_types_presubmit_commit.yaml
  .github/workflows/nitrogen_types_presubmit_format.yaml
  .github/workflows/sugar_presubmit.yaml
  .github/workflows/sugar_presubmit_commit.yaml
  .github/workflows/sugar_presubmit_format.yaml
Due: none

Add SECURITY.md
  SECURITY.md
Due: none

Path conditions:
  flint: any of: flint/lib/, but not: **/flutter-tools, **/*.g.dart
  sugar: any of: sugar/lib/, but not: **/flutter-tools, **/*.g.dart
