Repository forus-labs/cauldron: changes, and which Codecov flags are due for each by the changed paths.
All: flint, sugar

codecov.yaml:

coverage:
  status:
    project:
      default: false
      flint:
        flags: [flint]
      sugar:
        flags: [sugar]
    patch: false

ignore:
  - "**/flutter-tools"
  - "**/*.g.dart"

flags:
  # filter the folder(s) you wish to measure by that flag
  flint:
    paths:
      - flint/lib/
  sugar:
    paths:
      - sugar/lib/

codecov.yml:

coverage:
  status:
    project:
      default:
        flags: [off]
      flint:
        flags: [flint]
      sugar:
        flags: [sugar]

ignore:
  - "**/flutter-tools"
  - "**/*.g.dart"

flags:
  # filter the folder(s) you wish to measure by that flag
  flint:
    paths:
      - flint/lib/
  sugar:
    paths:
      - sugar/lib/

Relax requirements for `TimerController`
  stevia/example/lib/timer_example.dart
  stevia/lib/services.dart
  stevia/lib/src/services/timer_controller.dart
  stevia/lib/src/widgets/timer/timer_controller.dart
  stevia/lib/widgets.dart
  stevia/test/src/services/timer_controller_test.dart
Due: none

WIP - Initial prototyping of positioned widgets
  stevia/lib/src/services/text_input_formatters.dart
  stevia/lib/src/widgets/positioned/positioned_route.dart
  stevia/lib/src/widgets/resizable/resizable_box.dart
Due: none

Add CaseTextInputFormatter
  stevia/lib/services.dart
  stevia/lib/src/services/text_input_formatters.dart
  stevia/lib/src/widgets/positioned/positioned_route.dart
  stevia/test/src/services/text_input_formatters_test.dart
Due: none

Update Flint to Dart 3.2.0
  flint/CHANGELOG.md
  flint/lib/analysis_options.dart.yaml
  flint/pubspec.yaml
Due: flint

Fix release date in changelog
  flint/CHANGELOG.md
Due: none

Update README.md
  sugar/README.md
Due: none

WIP sugar
  sugar/analysis_options.yaml
  sugar/lib/src/collection/lists.dart
  sugar/lib/src/crdt/old/sil.dart
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/time/local_date.dart
  sugar/lib/src/time/local_time.dart
  sugar/lib/src/time/offset_time.dart
  sugar/lib/src/time/zone/dynamic_timezone.dart
  sugar/pubspec.yaml
  sugar/tool/timezone/irs.dart
Due: sugar

Add partial SIL by index view
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sil_by_index.dart
  sugar/lib/src/crdt/string_index.dart
Due: sugar

Add initial implementation of SILByStringIndex
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sil_by_index.dart
  sugar/lib/src/crdt/sil_by_string_index.dart
Due: sugar

First full working version of SIL
  sugar/lib/src/crdt/old/sil.dart
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sil_by_index.dart
  sugar/lib/src/crdt/sil_by_string_index.dart
Due: sugar

Migrate bridgette_runner to stevia_runner
  .github/workflows/stevia_runner_unit_test.yaml
  stevia/analysis_options.yaml
  stevia/lib/src/widgets/assets.dart
  stevia/lib/widgets.dart
  stevia/pubspec.yaml
  stevia_runner/.gitignore
  stevia_runner/README.md
  stevia_runner/analysis_options.yaml
  stevia_runner/bin/main.dart
  stevia_runner/build.yaml
  stevia_runner/lib/src/ansi.dart
  stevia_runner/lib/src/assets/ast.dart
  stevia_runner/lib/src/assets/build.dart
  stevia_runner/lib/src/assets/elements.dart
  stevia_runner/lib/src/assets/icon/ast.dart
  stevia_runner/lib/src/assets/icon/build.dart
  stevia_runner/lib/src/assets/icon/generation.dart
  stevia_runner/lib/src/assets/icon/lints.dart
  stevia_runner/lib/src/assets/illustrations/ast.dart
  stevia_runner/lib/src/assets/illustrations/build.dart
  stevia_runner/lib/src/assets/illustrations/generation.dart
  stevia_runner/lib/src/assets/illustrations/lints.dart
  stevia_runner/lib/src/configurations.dart
  stevia_runner/lib/stevia_asset_generator.dart
  stevia_runner/lib/stevia_asset_runner.dart
  stevia_runner/pubspec.yaml
Due: none

remove build_runner dependency
  .github/workflows/stevia_runner_unit_test.yaml
Due: none

remove stevia runner test script
  .github/workflows/stevia_runner_unit_test.yaml
Due: none

Fix stevia_runner build.yaml
  stevia_runner/build.yaml
Due: none

remove stevia asset runner
  stevia_runner/lib/stevia_asset_runner.dart
Due: none

add push script
  stevia_runner/bin/push_generated_files.dart
  stevia_runner/lib/src/push/push.dart
Due: none

googleapis_auth: ^1.4.1
  stevia_runner/pubspec.yaml
Due: none

Fix flint update script
  flint/tool/update.dart
Due: none

Update README.md
  README.md
Due: none

Experiment with extension types
  flint/pubspec.yaml
  sugar/lib/src/collection/aggregate/group_iterables.dart
  sugar/lib/src/collection/aggregate/split_iterables.dart
  sugar/lib/src/core/system/web_system.dart
  sugar/pubspec.yaml
Due: sugar

Experiment with coverting string index to extension type
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sil_by_index.dart
  sugar/lib/src/crdt/sil_by_string_index.dart
  sugar/lib/src/crdt/string_index.dart
  sugar/test/src/crdt/string_index_test.dart
Due: sugar

Convert more stuff to extension types
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sil_by_index.dart
  sugar/lib/src/crdt/sil_by_string_index.dart
  sugar/lib/src/crdt/string_index.dart
  sugar/lib/src/time/local_date.dart
  sugar/lib/src/time/local_date_time.dart
  sugar/lib/src/time/local_time.dart
  sugar/lib/src/time/offset_time.dart
Due: sugar

Fix `Etc/*` timezones not returning correct string representation
  sugar/CHANGELOG.md
  sugar/lib/src/time/zone/info/etc.g.dart
  sugar/lib/src/time/zone/info/root.g.dart
  sugar/tool/timezone/irs.dart
Due: none

Add tests for sil and sil_by_index
  sugar/lib/core_system.dart
  sugar/lib/crdt.dart
  sugar/lib/src/crdt/sil.dart
  sugar/lib/src/crdt/sil_by_index.dart
  sugar/lib/src/crdt/sil_by_string_index.dart
  sugar/lib/src/crdt/string_index.dart
  sugar/lib/src/time/local_date.dart
  sugar/lib/src/time/local_date_time.dart
  sugar/lib/src/time/local_time.dart
  sugar/lib/src/time/offset_time.dart
  sugar/lib/src/time/zone/dynamic_timezone.dart
  sugar/lib/src/time/zone/timezone_span.dart
  sugar/lib/src/time/zoned_date_time.dart
  sugar/test/src/crdt/sil_by_index_test.dart
  sugar/test/src/crdt/sil_test.dart
Due: sugar

Add tests for sil_by_string_index
  sugar/lib/src/crdt/sil_by_string_index.dart
  sugar/test/src/crdt/sil_by_string_index_test.dart
Due: sugar

Add documentation
  sugar/CHANGELOG.md
  sugar/lib/crdt.dart
Due: sugar

Add initial nitrogen implementation
  nitrogen/.gitignore
  nitrogen/CHANGELOG.md
  nitrogen/README.md
  nitrogen/analysis_options.yaml
  nitrogen/lib/nitrogen.dart
  nitrogen/lib/src/generators/basic_theme_generator.dart
  nitrogen/lib/src/generators/rich_theme_generator.dart
  nitrogen/lib/src/parser.dart
  nitrogen/lib/src/tree.dart
  nitrogen/pubspec.yaml
  nitrogen_types/.gitignore
  nitrogen_types/.metadata
  nitrogen_types/CHANGELOG.md
  nitrogen_types/LICENSE
  nitrogen_types/README.md
  nitrogen_types/analysis_options.yaml
  nitrogen_types/lib/nitrogen_types.dart
  nitrogen_types/lib/src/assets.dart
  nitrogen_types/pubspec.yaml
  sugar/lib/src/time/zone/timezones.g.dart
Due: none

Add rich asset generator
  nitrogen/lib/src/file_system.dart
  nitrogen/lib/src/generators/assets/basic_generator.dart
  nitrogen/lib/src/generators/assets/rich_generator.dart
  nitrogen/lib/src/generators/basic_theme_generator.dart
  nitrogen/lib/src/generators/rich_theme_generator.dart
  nitrogen/lib/src/parser.dart
  nitrogen/lib/src/tree.dart
  sugar/lib/src/collection/aggregate/group_iterables.dart
  sugar/lib/src/time/zone/timezones.g.dart
Due: sugar

first compiling iteration
  nitrogen/bin/nitrogen.dart
  nitrogen/lib/src/generators/assets/basic_generator.dart
  nitrogen/lib/src/generators/assets/rich_generator.dart
  nitrogen/lib/src/generators/utilities.dart
  nitrogen/lib/src/parser.dart
  nitrogen/pubspec.yaml
  nitrogen_types/lib/src/assets.dart
Due: none

First working theme asset generator
  nitrogen/bin/nitrogen.dart
  nitrogen/lib/src/file_system.dart
  nitrogen/lib/src/generators/assets/basic_generator.dart
  nitrogen/lib/src/generators/assets/rich_generator.dart
  nitrogen/lib/src/generators/assets/standard_generator.dart
  nitrogen/lib/src/generators/assets/theme_generator.dart
  nitrogen/lib/src/generators/libraries.dart
  nitrogen/lib/src/generators/utilities.dart
  nitrogen/lib/src/parser.dart
  nitrogen/lib/src/walker.dart
Due: none

Convert nitrogen to use build_runner
  nitrogen/bin/nitrogen.dart
  nitrogen/build.yaml
  nitrogen/lib/nitrogen.dart
  nitrogen/lib/src/generators/assets/standard_generator.dart
  nitrogen/lib/src/generators/assets/theme_generator.dart
  nitrogen/lib/src/generators/extensions/extension_generator.dart
  nitrogen/lib/src/generators/extensions/image_asset_extension.dart
  nitrogen/lib/src/generators/extensions/lottie_asset_extension.dart
  nitrogen/lib/src/generators/extensions/svg_asset_extension.dart
  nitrogen/lib/src/walker.dart
  nitrogen/pubspec.yaml
Due: none

Add extension packages
  nitrogen/LICENSE
  nitrogen/README.md
  nitrogen/bin/nitrogen.dart
  nitrogen/build.yaml
  nitrogen/lib/nitrogen.dart
  nitrogen/lib/nitrogen_extension.dart
  nitrogen/lib/src/configuration.dart
  nitrogen/lib/src/generators/assets/basic_generator.dart
  nitrogen/lib/src/generators/assets/standard_generator.dart
  nitrogen/lib/src/generators/assets/theme_generator.dart
  nitrogen/lib/src/generators/extensions/extension_generator.dart
  nitrogen/lib/src/generators/extensions/flutter_extension_generator.dart
  nitrogen/lib/src/generators/extensions/image_asset_extension.dart
  nitrogen/lib/src/generators/libraries.dart
  nitrogen_flutter_svg/.gitignore
  nitrogen_flutter_svg/.metadata
  nitrogen_flutter_svg/CHANGELOG.md
  nitrogen_flutter_svg/LICENSE
  nitrogen_flutter_svg/README.md
  nitrogen_flutter_svg/analysis_options.yaml
  nitrogen_flutter_svg/build.yaml
  nitrogen_flutter_svg/lib/nitrogen_flutter_svg.dart
  nitrogen_flutter_svg/lib/src/svg_extension_generator.dart
  nitrogen_flutter_svg/pubspec.yaml
  nitrogen_lottie/.gitignore
  nitrogen_lottie/.metadata
  nitrogen_lottie/CHANGELOG.md
  nitrogen_lottie/LICENSE
  nitrogen_lottie/README.md
  nitrogen_lottie/analysis_options.yaml
  nitrogen_lottie/build.yaml
  nitrogen_lottie/lib/nitrogen_lottie.dart
  nitrogen_lottie/lib/src/lottie_extension_generator.dart
  nitrogen_lottie/pubspec.yaml
Due: none

Add readme for nitrogen
  nitrogen/README.md
Due: none

Tidy up READMEs
  .gitignore
  README.md
  nitrogen/README.md
Due: none

Delete assets from stevia
  stevia/lib/src/widgets/assets.dart
  stevia_runner/bin/push_generated_files.dart
  stevia_runner/lib/src/push/push.dart
Due: none

Fix erronous stevia result
  stevia/lib/widgets.dart
Due: none

Tweak standard generator
  flint/pubspec.yaml
  nitrogen/lib/src/generators/assets/standard_generator.dart
  nitrogen/lib/src/generators/assets/theme_generator.dart
  nitrogen/lib/src/generators/libraries.dart
  nitrogen/pubspec.yaml
  nitrogen_types/CHANGELOG.md
  nitrogen_types/README.md
  nitrogen_types/pubspec.yaml
Due: none

Publish flint 2.10.0
  flint/CHANGELOG.md
  flint/lib/analysis_options.flutter.yaml
  flint/pubspec.yaml
Due: flint
